/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/


/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body {
    padding-top: 70px;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway", Times, serif;
}

#inputmap,
#outputmap {
    height: 290px;
}

.icon {
    width: 10px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}


/**
 * Bootstrap requires a containing element to wrap site contents 
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width, 
 * so that the container will not spread to the entire viewport.
*/

.container-fluid {
    max-width: 1200px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.button {
    background-color: #4CAF50;
    /* Green */
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: #00AED8;
}

a:hover {
    color: #00AED8;
}

section {
    padding-top: 20px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}


/* lists */

ul.input-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}

.herounit {
    background: #E5E4E2;
    padding-bottom: 25px;
}

ul.input-list li {
    display: block;
    padding: 0 10px;
    width: 50%;
    float: left;
}

@media all and (max-width: 800px) {
    ul.input-list {
        margin: 0;
    }
    ul.input-list li {
        padding: 0;
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}


/**
 * Bootstrap adds a 20px margin to the bottom of elements that 
 * have been given the class of thumbnail. When images have a 
 * caption after them, this margin may be too large. You can 
 * override it like this:
*/

.thumbnail {
    margin-bottom: 5px;
}

.navbar-header {
    float: left;
    padding: 18px;
    width: 100%;
}

.navbar-brand {
    float: none;
    font-family: "Raleway", Times, serif;
    text-transform: uppercase;
    font-size: 22px;
}


/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/

.margin-t-0 {
    margin-top: 0;
}

.margin-t-h {
    margin-top: .5em;
}

.margin-t-1 {
    margin-top: 1em;
}

.margin-t-2 {
    margin-top: 2em;
}

.margin-t-3 {
    margin-top: 3em;
}

.margin-b-0 {
    margin-bottom: 0;
}

.margin-b-h {
    margin-bottom: .5em;
}

.margin-b-1 {
    margin-bottom: 1em;
}

.margin-b-2 {
    margin-bottom: 2em;
}

.margin-b-3 {
    margin-bottom: 3em;
}

.margin-tb-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-tb-h {
    margin-top: .5em;
    margin-bottom: .5em;
}

.margin-tb-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-tb-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-tb-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.square {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.c-f4a261 {
    background-color: #f4a261;
    color: #FFFFFF;
}

.c-fc6621 {
    background-color: #fc6621;
    color: #FFFFFF;
}

.c-da0a16 {
    background-color: #da0a16;
    color: #FFFFFF;
}

.c-fc1999 {
    background-color: #fc1999;
    color: #FFFFFF;
}

.c-331196 {
    background-color: #331196;
    color: #FFFFFF;
}

.c-071ac8 {
    background-color: #071ac8;
    color: #FFFFFF;
}

.c-1a9bfc {
    background-color: #1a9bfc;
    color: #FFFFFF;
}

.c-18a81b {
    background-color: #18a81b;
    color: #FFFFFF;
}

.c-0a650c {
    background-color: #0a650c;
    color: #FFFFFF;
}

.c-653308 {
    background-color: #653308;
    color: #FFFFFF;
}

.c-986638 {
    background-color: #986638;
    color: #FFFFFF;
}

.c-bbbbbb {
    background-color: #bbb;
    color: #FFFFFF;
}

.c-888888 {
    background-color: #888;
    color: #FFFFFF;
}

.c-444444 {
    background-color: #444;
    color: #FFFFFF;
}

.c-000000 {
    background-color: #000;
    color: #FFFFFF;
}

.c-f4a261 {
    background-color: #f4a261;
    color: #FFFFFF;
}

.c-9cec5b {
    background-color: #9cec5b;
    color: #FFFFFF;
}

.c-50c5b7 {
    background-color: #50c5b7;
    color: #FFFFFF;
}

.c-e76f51 {
    background-color: #e76f51;
    color: #FFFFFF;
}

.c-8d99ae {
    background-color: #8d99ae;
    color: #FFFFFF;
}

.c-6fdb6f {
    background-color: #6fdb6f;
    color: #FFFFFF;
}

.c-d0f4d0 {
    background-color: #d0f4d0;
    color: #FFFFFF;
}

.c-71b8ff {
    background-color: #71b8ff;
    color: #FFFFFF;
}

.c-afd7ff {
    background-color: #afd7ff;
    color: #FFFFFF;
}

.c-808080 {
    background-color: #808080;
    color: #FFFFFF;
}

.c-b2b2b2 {
    background-color: #b2b2b2;
    color: #FFFFFF;
}

.c-598600 {
    background-color: #598600;
    color: #FFFFFF;
}

.c-006600 {
    background-color: #006600;
    color: #FFFFFF;
}

.c-6600cc {
    background-color: #6600cc;
    color: #FFFFFF;
}

.c-9966ff {
    background-color: #9966ff;
    color: #FFFFFF;
}

.c-ff0000 {
    background-color: #ff0000;
    color: #FFFFFF;
}

.c-ff8989 {
    background-color: #ff8989;
    color: #FFFFFF;
}

.c-996633 {
    background-color: #996633;
    color: #FFFFFF;
}

.c-cc9900 {
    background-color: #cc9900;
    color: #FFFFFF;
}

.c-ffcc00 {
    background-color: #ffcc00;
    color: #FFFFFF;
}

.c-fff1b7 {
    background-color: #fff1b7;
    color: #FFFFFF;
}

.c-24496e {
    background-color: #24496e;
    color: #FFFFFF;
}

.c-3b77b3 {
    background-color: #3b77b3;
    color: #FFFFFF;
}

.c-dddddd {
    background-color: #dddddd;
    color: #FFFFFF;
}

.c-f2f2f2 {
    background-color: #f2f2f2;
    color: #FFFFFF;
}

ul.input-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}

.herounit {
    background: #E5E4E2;
    padding-bottom: 25px;
}

ul.input-list li {
    display: block;
    padding: 0 5px;
    width: 50%;
    float: left;
}

@media all and (max-width: 800px) {
    ul.input-list {
        margin: 0;
    }
    ul.input-list li {
        padding: 0;
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
}

.style-2 input[type="text"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
    border: solid 5px #969696;
}